*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
    }

    body{

    background:linear-gradient(135deg,#450A0A,#7F1D1D,#991B1B);

    display:flex;
    justify-content:center;
    align-items:center;

    min-height:100vh;

    padding:20px;

    }

    .container{

    width:390px;

    background:white;

    border-radius:25px;

    padding:20px;

    box-shadow:0 10px 30px rgba(0,0,0,.4);

    }

    /* HEADER */

    .header{

    text-align:center;

    margin-bottom:20px;

    }

    .header h1{

    color:#DC2626;

    }

    .header p{

    font-weight:600;

    color:#475569;

    }

    .header span{

    font-size:14px;

    color:#64748B;

    }

    /* CHALLENGE */

    .challenge{

    background:#FEF2F2;

    border-left:6px solid #DC2626;

    padding:18px;

    border-radius:15px;

    margin-bottom:20px;

    }

    .challenge h2{

    margin-bottom:10px;

    color:#991B1B;

    }

    .challenge p{

    line-height:1.6;

    color:#374151;

    }

    /* TIMER */

    .timerBox{

    background:#111827;

    color:white;

    padding:20px;

    border-radius:15px;

    text-align:center;

    margin-bottom:20px;

    box-shadow:0 0 20px rgba(239,68,68,.4);

    }

    .timerBox h1{

    font-size:50px;

    margin-top:10px;

    color:#EF4444;

    animation:pulse 1s infinite;

    }

    @keyframes pulse{

    0%{transform:scale(1);}

    50%{transform:scale(1.12);}

    100%{transform:scale(1);}

    }

    /* QUESTION */

    .question{

    text-align:center;

    margin-bottom:20px;

    color:#991B1B;

    }

    /* OPTIONS */

    .options{

    display:flex;

    flex-direction:column;

    gap:15px;

    margin-bottom:25px;

    }

    .option{

    background:#F8FAFC;

    padding:18px;

    border-radius:12px;

    cursor:pointer;

    border:2px solid #CBD5E1;

    font-weight:600;

    transition:.3s;

    }

    .option:hover{

    background:#FEE2E2;

    border-color:#DC2626;

    transform:translateY(-3px);

    }

    .option.active{

    background:#DC2626;

    color:white;

    border-color:#DC2626;

    }

    /* ANALYSIS */

    .analysis{

    background:#F8FAFC;

    padding:18px;

    border-radius:15px;

    }

    .progress{

    width:100%;

    height:10px;

    background:#CBD5E1;

    border-radius:20px;

    overflow:hidden;

    margin-bottom:15px;

    }

    .fill{

    width:0%;

    height:100%;

    background:#DC2626;

    transition:1.5s;

    }

    .analysis p{

    text-align:center;

    font-weight:600;

    color:#991B1B;

    margin-bottom:15px;

    }

    /* BUTTON */

    #nextBtn{

    width:100%;

    padding:14px;

    background:#DC2626;

    color:white;

    border:none;

    border-radius:12px;

    font-size:16px;

    font-weight:600;

    cursor:pointer;

    transition:.3s;

    }

    #nextBtn:hover{

    background:#B91C1C;

    }
}