*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
    }

    body{

    background:linear-gradient(135deg,#12091F,#25113A,#5B2C83);

    display:flex;
    justify-content:center;
    align-items:center;

    min-height:100vh;

    padding:20px;

    }

    .container{

    width:390px;
    background:#fff;

    border-radius:25px;

    padding:20px;

    box-shadow:0 10px 30px rgba(0,0,0,.3);

    }

    .header{

    text-align:center;

    margin-bottom:20px;

    }

    .header h1{

    color:#5B2C83;

    margin-bottom:5px;

    }

    .header p{

    font-weight:bold;

    color:#7B2CBF;

    }

    .header span{

    font-size:14px;

    color:#666;

    }

    .mission{

    background:linear-gradient(135deg,#7B2CBF,#9D4EDD);

    color:white;

    padding:20px;

    border-radius:20px;

    margin-top:20px;

    }

    .live{

    background:#ff3b30;

    padding:6px 15px;

    border-radius:20px;

    font-size:13px;

    font-weight:bold;

    }

    .status{

    margin-bottom:15px;

    }

    .mission h2{

    margin-bottom:15px;

    }

    .details p{

    margin:8px 0;

    font-size:14px;

    }

    .brief{

    margin-top:20px;

    padding:18px;

    background:#F5F0FF;

    border-left:5px solid #7B2CBF;

    border-radius:15px;

    }

    .brief h3{

    color:#5B2C83;

    margin-bottom:10px;

    }

    .brief p{

    color:#555;

    line-height:1.6;

    }

    .question{

    margin-top:25px;

    margin-bottom:15px;

    color:#5B2C83;

    }

    .options{

    display:flex;

    flex-direction:column;

    gap:15px;

    }

    .option{

    display:flex;

    align-items:center;

    gap:15px;

    padding:18px;

    background:#F5F0FF;

    border-radius:15px;

    cursor:pointer;

    transition:.3s;

    border:2px solid transparent;

    }

    .option:hover{

    transform:translateY(-4px);

    background:#EEE5FF;

    }

    .option.active{

    background:#7B2CBF;

    color:white;

    border-color:white;

    }

    .option i{

    font-size:25px;

    }

    .analysis{

    margin-top:25px;

    background:#F8F8F8;

    padding:18px;

    border-radius:15px;

    }

    .progress{

    width:100%;

    height:12px;

    background:#ddd;

    border-radius:20px;

    overflow:hidden;

    margin-bottom:15px;

    }

    .fill{

    width:0%;

    height:100%;

    background:#7B2CBF;

    transition:1.5s;

    }

    .analysis p{

    text-align:center;

    margin-bottom:15px;

    font-weight:600;

    color:#5B2C83;

    }

    #nextBtn{

    width:100%;

    padding:14px;

    background:#7B2CBF;

    color:white;

    border:none;

    border-radius:12px;

    font-size:16px;

    font-weight:bold;

    cursor:pointer;

    transition:.3s;

    }

    #nextBtn:hover{

    background:#5B2C83;

    }
}